<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{% block title %}{% endblock %}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <link rel="stylesheet" href="{{ STATIC_URL }}offtube/css/bootstrap.min.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}offtube/css/bootstrap-responsive.min.css">
        <link rel="stylesheet" href="{{ STATIC_URL }}offtube/css/main.css">

        <script src="{{ STATIC_URL }}offtube/js/vendor/modernizr-2.6.2-respond-1.1.0.min.js"></script>
        <style type="text/css">{% block styles %}{% endblock %}</style>
    </head>
    <body>
        <!--[if lt IE 7]>
            <p class="chromeframe">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> or <a href="http://www.google.com/chromeframe/?redirect=true">activate Google Chrome Frame</a> to improve your experience.</p>
        <![endif]-->

        <!-- This code is taken from http://twitter.github.com/bootstrap/examples/hero.html -->

        <div class="navbar navbar-static-top">
            <div class="navbar-inner">
                <div class="container">
                    <!-- Be sure to leave the brand here if you want it shown -->
                    <a class="brand" href="{% url offtube:index %}"><img src="{{ STATIC_URL }}offtube/OffTube.png" alt="OffTube"></a>
                    <div class="nav-collapse collapse">
                        <!-- Everything you want hidden at 940px or less, place within here -->
{% if user.is_active %}
                        <a class="btn pull-right" href="{% url offtube:logout %}">Log out: <span class="badge">{{ user }}</span></a>
{% else %}
                        <!--<form class="navbar-form pull-right">
                            <input class="span2" type="text" placeholder="Email">
                            <input class="span2" type="password" placeholder="Password">
                            <button type="submit" class="btn">Log in</button>
                        </form>-->
                        <a class="btn pull-right" href="{% url offtube:login %}">Log in</a>
{% endif %}
                        <input type="button" class="btn pull-right" value="Upload Video" onClick="window.location.href='{% url offtube:upload %}'"/>
                        <form class="navbar-form offset2">
                            <input type="text" class="span5">
                            <button type="submit" class="btn">Search</button>
                        </form>
                    </div><!--/.nav-collapse -->
                </div>
            </div>
        </div>

        <div class="container">
            <div class="row-fluid">
                <div class="span9">
{% block content %}{% endblock %}
                </div>
                <div class="span3">
                    <p>This is STATIC_URL: {{ STATIC_URL }}<br />
                    This is MEDIA_URL: {{ MEDIA_URL }}<br />
                    This is url offtube:index: {% url offtube:index %}</p>
                </div>
            </div>
            <hr>

            <footer>
                <p>&copy; Company 2012</p>
            </footer>

        </div> <!-- /container -->

        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="js/vendor/jquery-1.9.1.min.js"><\/script>')</script>

        <script src="js/vendor/bootstrap.min.js"></script>

        <script src="js/main.js"></script>

        <script>
            var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
            (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
            g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
            s.parentNode.insertBefore(g,s)}(document,'script'));
        </script>
    </body>
</html>
