{% extends "offtube/base.html" %}
{% block content %}
{% if recent_uploads %}
    {% for video in recent_uploads %}
        {% if forloop.counter0|divisibleby:3 %}
                <ul class="thumbnails">
        {% endif %}
                    <li class="span4" onClick="window.location.href='{% url offtube:play video.id %}'" style="cursor: pointer">
                        <div class="thumbnail">
                            <img src="{{ MEDIA_URL }}{{ video.thumbnail }}"><br />
                            <h4>{{ video.title|title }}</h4>
                        </div>
                    </li>
        {% if forloop.last or forloop.counter|divisibleby:3 %}
                </ul>
        {% endif %}
    {% endfor %}
{% else %}
            <div class="alert alert-info">
                <strong>Info:</strong> There ain't no videos yet.
            </div>
{% endif %}
{% endblock %}
