{% extends "offtube/base.html" %}
{% block content %}
{% if recent_uploads %}
            <div class="row span9">
                <ul class="thumbnails">
{% for video in recent_uploads %}
                    <li class="span3" onClick="window.location.href='{% url offtube:play video.id %}'">
                        <div class="thumbnail">`
                            <img src="{{ MEDIA_URL }}{{ video.thumbnail }}"><br />
                            <h4>{{ video.title|title }}</h4>
                            <p>{{ video.description }}</p>
                        </div>
                    </li>
{% endfor %}
                <ul>
            </div>
            <hr>
{% else %}
            <div class="alert alert-info">
                <strong>Info:</strong> There ain't no videos yet.
            </div>
{% endif %}
            <div>
                <h1>Hello, world!</h1>
                <p>This is STATIC_URL: {{ STATIC_URL }}<br />
                This is MEDIA_URL: {{ MEDIA_URL }}<br />
                This is url offtube:index: {% url offtube:index %}</p>
            </div>

{% endblock %}
