{% extends "offtube/base.html" %}
{% block styles %}
/*.navbar {
  margin-bottom: 0;
}*/
{% endblock %}
{% block content %}
<!-- From: http://www.360doc.com/content/10/0426/21/11586_25036463.shtml -->
{% if video %}
<video class="span12" style="margin-top: -25px" controls autoplay poster="{{ MEDIA_URL }}{{ video.get_png_file }}">
  <source src="{{ MEDIA_URL }}{{ video.get_h264_file }}" type="video/mp4; codecs=avc1.42E01E,mp4a.40.2">
  <source src="{{ MEDIA_URL }}{{ video.get_webm_file }}" type="video/webm; codecs=vp8,vorbis">
  <source src="{{ MEDIA_URL }}{{ video.get_ogg_file }}"  type="video/ogg; codecs=theora,vorbis">
</video>
<p class="btn pull-right" style="cursor: default">Views: <span class="badge">{{ video.hits }}</span></p>
<p class="btn pull-right" style="cursor: default">Uploaded by: <span class="badge">{{ video.upload_user }}</span></p>
<h2>{{video.title}}</h2>
<ul class="nav nav-tabs" id="MyTab">
  <li class="active"><a href="#description" data-toggle="tab">Description</a></li>
  <li><a href="#share" data-toggle="tab">Share</a></li>
</ul>
<div class="tab-content">
  <div class="tab-pane active" id="description">{{ video.description }}</div>
  <div class="tab-pane" id="share"><b>Embed code:</b><br />
  <textarea class="span9">
&lt;iframe width="480" height="360" src="//{{ domain }}/{% url offtube:embed video.id %}" frameborder="0" allowfullscreen&gt;&lt;/iframe&gt;
</textarea>
  </div>
</div>
{% endif %}
{% endblock %}
