{% extends "offtube/base.html" %}
{% block styles %}
/*.navbar {
  margin-bottom: 0;
}*/
{% endblock %}
{% block content %}
<!-- From: http://www.360doc.com/content/10/0426/21/11586_25036463.shtml -->
{% if video %}
<video class="span12" style="margin-top: -25px" controls autoplay poster="{{ MEDIA_URL }}{{ video.get_png_file }}">
  <source src="{{ MEDIA_URL }}{{ video.get_h264_file }}" type="video/mp4; codecs=avc1.42E01E,mp4a.40.2">
  <source src="{{ MEDIA_URL }}{{ video.get_webm_file }}" type="video/webm; codecs=vp8,vorbis">
  <source src="{{ MEDIA_URL }}{{ video.get_ogg_file }}"  type="video/ogg; codecs=theora,vorbis">
</video>
<p class="btn pull-right">Views: <span class="badge">{{ video.hits }}</span></p>
<p class="btn pull-right">Uploaded by: <span class="badge">{{ video.upload_user }}</span></p>
<h2>{{video.title}}</h2>
<p>{{ video.description }}</p>
{% endif %}
{% endblock %}
