{% extends "offtube/base.html" %}
{% block content %}
                <!-- From: http://www.360doc.com/content/10/0426/21/11586_25036463.shtml -->
                <form action="{% url offtube:upload %}" method="post" enctype="multipart/form-data">
                    <fieldset>
                        <legend>Video Upload</legend>
                        {% csrf_token %}
                        {% if video_form %}
                        {% if video_form.errors %}
                        <div class="alert alert-error">
                            <button type="button" class="close" data-dismiss="alert">&times;</button>
                            <strong>Error!</strong> {{ video_form.errors }}
                        </div>
                        {% endif %}
                        {% if video_form.cleaned_data %}
                        <div class="alert alert-info">
                            <button type="button" class="close" data-dismiss="info">&times;</button>
                            <strong>Info:</strong> {{ video_form.cleaned_data }}
                        </div>
                        {% endif %}
                        {{ video_form }}
                        {% endif %}<br />
                        <input class="btn btn-primary" type="submit">
                    </fieldset>
                </form>
{% endblock %}
